<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.appcelerator.titanium.mobile.ui.ios.installer.launchConfigurationType">
<booleanAttribute key="ATTR_MINIFY" value="true"/>
<stringAttribute key="ATTR_PROJECT_NAME" value="CloudEventApp"/>
<stringAttribute key="ATTR_TITANIUM_DEPLOY_TYPE" value="development"/>
<booleanAttribute key="ATTR_UPLOAD_DEBUG_SYMBOLS" value="false"/>
<stringAttribute key="appid" value="com.fullsail.CloudEventApp"/>
<stringAttribute key="certificate" value="Jennifer McCarrick (5TMP78RMGA)"/>
<stringAttribute key="debug_config" value="::1438220623226:192.168.1.5"/>
<stringAttribute key="debug_hosts" value="192.168.1.5"/>
<stringAttribute key="device_id" value="8cca76415b9c93a21e07dcab76d380be8b2b2995"/>
<stringAttribute key="keychain" value="/Users/ryankbacka/Library/Keychains/login.keychain"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/CloudEventApp"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.capture_output" value="true"/>
<booleanAttribute key="org.eclipse.debug.ui.ATTR_LAUNCH_IN_BACKGROUND" value="true"/>
<stringAttribute key="process_factory_id" value="com.appcelerator.titanium.ui.logLevelFilteringProcessFactory"/>
<stringAttribute key="sdk_version" value="8.4"/>
<stringAttribute key="uuid" value="7143c9ec-01c8-4217-b066-63f864325da0"/>
</launchConfiguration>
